screenshots/**
saves/**
resourcepacks/**
FailedClasses/**
DragonAPI/**

gregtech.cfg
gregtech.lang
minecraftinstance.json
minetweaker.log

*.log

logs/

screenshots/

usernamecache.json

.curseclient

blep.txt

journeymap/

backups/

crash-reports/

mods/